*{
    box-sizing: border-box;
}
h1{
    color:darkred;
}
h2{
    color:darkblue;
}
.box{
    width: 150px;
    height: 100px;
    border: 1px solid black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.box-blue{
    background-color: darkblue;
}
.box-green{
    background-color: darkgreen;
}
.box-red{
    background-color: darkred;
}
.box-orange{
    background-color: darkorange;
}